<div class="container-wrapper clear-blue-background py-20">
    <div class="container">
        <h2 class="text-center font-display text-primary-color mb-20">Todos los Artículos</h2>
        <div class="flex flex-row flex-wrap justify-center my-8">

            <app-article-card 
                title="Numeros primos" 
                author="Maurizio Tonelli" 
                published="13/nov/2021"
                [tags]="['#matematicas','#basico', '#numeros primos']"
                image="/assets/images/article-content/article-image-1.jpg"
                >
                Los numeros primos son buenos
            </app-article-card>
            <app-article-card 
                title="El problema de las 8 reinas" 
                author="Edgar Tonelli" 
                published="11/nov/2021"
                [tags]="['#ciencias de computacion', '#algoritmos', '#intermedio']"
                image="/assets/images/article-content/article-image-2.png"
                > 
                Es hora de acabar con este problema de una vez por todas
            </app-article-card>
            <app-article-card 
                title="El fractal de Sierpinski" 
                author="Maurizio Cetina" 
                published="10/nov/2021"
                [tags]="['#matematicas', '#basico', '#fractales']"
                image="/assets/images/article-content/article-image-3.jpg"
                >
                Este es mi fractal favorito
            </app-article-card>
            <app-article-card 
                title="Numeros primos" 
                author="Maurizio Tonelli" 
                published="13/nov/2021"
                [tags]="['#matematicas','#basico', '#numeros primos']"
                image="/assets/images/article-content/article-image-1.jpg"
                >
                Los numeros primos son buenos
            </app-article-card>
            <app-article-card 
                title="El problema de las 8 reinas" 
                author="Edgar Tonelli" 
                published="11/nov/2021"
                [tags]="['#ciencias de computacion', '#algoritmos', '#intermedio']"
                image="/assets/images/article-content/article-image-2.png"
                > 
                Es hora de acabar con este problema de una vez por todas
            </app-article-card>
            <app-article-card 
                title="El fractal de Sierpinski" 
                author="Maurizio Cetina" 
                published="10/nov/2021"
                [tags]="['#matematicas', '#basico', '#fractales']"
                image="/assets/images/article-content/article-image-3.jpg"
                >
                Este es mi fractal favorito
            </app-article-card>
            <app-article-card 
                title="Numeros primos" 
                author="Maurizio Tonelli" 
                published="13/nov/2021"
                [tags]="['#matematicas','#basico', '#numeros primos']"
                image="/assets/images/article-content/article-image-1.jpg"
                >
                Los numeros primos son buenos
            </app-article-card>
            <app-article-card 
                title="El problema de las 8 reinas" 
                author="Edgar Tonelli" 
                published="11/nov/2021"
                [tags]="['#ciencias de computacion', '#algoritmos', '#intermedio']"
                image="/assets/images/article-content/article-image-2.png"
                > 
                Es hora de acabar con este problema de una vez por todas
            </app-article-card>
            <app-article-card 
                title="El fractal de Sierpinski" 
                author="Maurizio Cetina" 
                published="10/nov/2021"
                [tags]="['#matematicas', '#basico', '#fractales']"
                image="/assets/images/article-content/article-image-3.jpg"
                >
                Este es mi fractal favorito
            </app-article-card>
            <app-article-card 
                title="Numeros primos" 
                author="Maurizio Tonelli" 
                published="13/nov/2021"
                [tags]="['#matematicas','#basico', '#numeros primos']"
                image="/assets/images/article-content/article-image-1.jpg"
                >
                Los numeros primos son buenos
            </app-article-card>
            <app-article-card 
                title="El problema de las 8 reinas" 
                author="Edgar Tonelli" 
                published="11/nov/2021"
                [tags]="['#ciencias de computacion', '#algoritmos', '#intermedio']"
                image="/assets/images/article-content/article-image-2.png"
                > 
                Es hora de acabar con este problema de una vez por todas
            </app-article-card>
            <app-article-card 
                title="El fractal de Sierpinski" 
                author="Maurizio Cetina" 
                published="10/nov/2021"
                [tags]="['#matematicas', '#basico', '#fractales']"
                image="/assets/images/article-content/article-image-3.jpg"
                >
                Este es mi fractal favorito
            </app-article-card>
        </div>
    </div>
    <app-pagination-controls></app-pagination-controls>

</div>

