<div class="container-wrapper">
    <div class="container flex flex-row items-center justify-between mt-28">
        <div class="flex flex-col items-end mr-8">
            <h1 class="text-6xl"><span class="text-primary-color font-display text-8xl font-extrabold">M</span>aurizio <span class="text-primary-color font-display text-8xl font-extrabold">T</span>onelli</h1>
            <p class="text-primary-color text-3xl mt-2">Tu lugar para desarrollo de software</p>
            <button class=" mt-12 px-4 py-2 bg-secondary-color text-white rounded-lg font-medium shadowed-button">Inicia tu aprendizaje</button>
        </div>
        <div class="-mr-20">
            <img src="/assets/images/hero-illustration.png" alt="" >
        </div>
        
    </div>

</div>

