<div class="container-wrapper">
    <div class="container flex flex-row items-center justify-between py-6">
        <a href=""><img src="/assets/images/brand/maurizio-logo.svg" alt=""></a>
        <ul class="flex flex-row items-center">
            <li class="link">
                <a href="">Artículos</a>
            </li>
            <li class="link">
                <a href="">Cursos</a>
            </li>
            <li class="link">
                <a href="">Tags</a>
            </li>
            <li class="link">
                <a href="">Contacto</a>
            </li>
            <li class="link bg-yellow-50 border border-yellow-500 rounded-lg text-yellow-600 px-4 py-2">
                <a href="">Inicia Sesión</a>
            </li>
        </ul>
        
    </div>

</div>

