<div class="container-wrapper pb-10">
    <div class="container flex flex-row items-center justify-center md:justify-between mt-10 md:mt-28">
        <div class="flex flex-col items-end mr-8">
            <h1 class="text-4xl md:text-6xl"><span class="text-primary-color font-display text-6xl md:text-8xl font-extrabold">M</span>aurizio <span class="text-primary-color font-display text-6xl md:text-8xl font-extrabold">T</span>onelli</h1>
            <p class="text-primary-color text-lg md:text-3xl mt-2">Tu lugar para desarrollo de software</p>
            <button class="btn shadowed-button mt-12">Inicia tu aprendizaje</button>
        </div>
        <div class="hidden sm:block -mr-20">
            <img src="/assets/images/hero-illustration.png" alt="" >
        </div>
        
    </div>

</div>

