<div class="container-wrapper">
    <div class="container flex flex-row items-center justify-between py-6">
        <a href="" class="hidden lg:block"><img src="/assets/images/brand/maurizio-logo.svg" alt=""></a>
        <ul class="flex flex-row items-center">
            <li class="link">
                <a href="">Artículos</a>
            </li>
            <li class="link">
                <a href="">Cursos</a>
            </li>
            <li class="link">
                <a href="">Tags</a>
            </li>
            <li class="link">
                <a href="">Contacto</a>
            </li>
            <li class="link bg-secondary-color-50 border border-secondary-color rounded-lg text-secondary-color-800  px-4 py-2">
                <a href="">Inicia Sesión</a>
            </li>
        </ul>
        
    </div>

</div>

