<div class="container-wrapper bg-primary-color">
<div class="container flex flex-row flex-wrap justify-between text-white py-10">
    <div class="w-48">
        <img src="/assets/images/brand/maurizio-logo-white.svg" alt="">
    </div>
    <div class="flex flex-col w-36">
        <h4 class="my-5">Mapa</h4>
        <a href="/" >Página principal</a>
        <a href="/">Artículos</a>
        <a href="/">Tags</a>
        <a href="/">Contacto</a>
    </div>
    <div class="flex flex-col w-36">
        <h4 class="my-5">Redes sociales</h4>
        <a href="/" >YouTube</a>
    </div>
    <div class="flex flex-col w-36">
        <h4 class="my-5">Contacto</h4>
        <a href="/">mtonelli@astrodev.mx</a>
    </div>
</div>
<p class="text-white pb-10">Copyright Maurizio 2021</p>
</div>